    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="bg-gray-100 footer-area">
      

        <div class="bg-blue-900 footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="w-full">
                        <div class="py-6 text-center">
                            <p class="text-white">
                                 Crafted by
                                <a class="text-blue-500 duration-300 hover:text-blue-700" rel="nofollow"
                                    href="/">Samuel</a>
                            </p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->